/*.iml
/.idea/*
/Vagrantfile
/logs/*
/.vagrant/*
/atlassian-ide-plugin.xml
/ansible/group_vars/all.yml
/ansible/group_vars/dbservers.yml
/ansible/group_vars/webservers.yml
/ansible/host_vars/hobo.yml
/ansible/host_vars/tramp.yml
