# -*- mode: ruby -*-
# vi: set ft=ruby :

# Vagrantfile API/syntax version. Don't touch unless you know what you're doing!
VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
    # Every Vagrant virtual environment requires a box to build off of.
    config.vm.box = "precise64"

    # Provider-specific configuration so you can fine-tune various
    # backing providers for Vagrant. These expose provider-specific options.

    # VMware Fusion
    config.vm.provider "vmware_fusion" do |v, override|
        v.vmx['memsize'] = 1024
        v.vmx['numvcpus'] = 2

        # The url from where the 'config.vm.box' box will be fetched if it
        # doesn't already exist on the user's system.
        override.vm.box_url = "http://files.vagrantup.com/precise64_vmware.box"
    end

    # VirtualBox
    config.vm.provider :virtualbox do |vb, override|
        vb.customize [
            "modifyvm", :id,
            "--memory", 1024,
            "--cpus", 2,
            "--vram", 16
        ]

        # The url from where the 'config.vm.box' box will be fetched if it
        # doesn't already exist on the user's system.
        override.vm.box_url = "http://files.vagrantup.com/precise64.box"
    end

    # Create a private network, which allows host-only access to the machine
    # using a specific IP.
    config.vm.network :private_network, ip: '10.0.0.3'

    config.vm.provision "ansible" do |ansible|
        ansible.inventory_path = "ansible/inventory.ini"
        ansible.playbook = "ansible/vagrant.yml"
        ansible.host_key_checking = false
        ansible.extra_vars = {
            'timezone' => 'Europe/London',
            'php' => {
                'options' => {
                    'date.timezone' => 'Europe/London',

                    'memory_limit' => '256M',

                    'upload_max_filesize' => '10M',
                    'post_max_size' => '12M',

                    'xdebug.remote_enable' => 'On',
                    'xdebug.remote_host' => '10.0.0.1',

                    'error_reporting' => '32767', # E_ALL
                    'display_errors' => 'On',
                    'html_errors' => 'On',
                    'ignore_repeated_errors' => 'On'
                }
            },
            'phalcon' => {
                'version' => '1.2.5'
            },
            'mysql' => {
                'bind_ip' => '0.0.0.0',
                'root_password' => 'root'
            },
            'apache' => {
                'nfs' => false,
                'vhosts' => false
            }
        }
    end
end
