# -*- mode: ruby -*-
# vi: set ft=ruby :

VAGRANTFILE_API_VERSION = '2'

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|

    config.vm.box = 'precise64'

    config.vm.provider 'vmware_fusion' do |v, override|
        v.vmx['memsize'] = 1024
        v.vmx['numvcpus'] = 2
        override.vm.box_url = 'http://files.vagrantup.com/precise64_vmware.box'
    end

    config.vm.provider :virtualbox do |vb, override|
        vb.customize [
            'modifyvm', :id,
            '--memory', 1024,
            '--cpus', 2,
            '--vram', 16
        ]
        override.vm.box_url = 'http://files.vagrantup.com/precise64.box'
    end

    config.vm.define 'hobo', primary: true do |hobo|
        hobo.vm.network :private_network, ip: '10.0.0.3'
        hobo.vm.hostname = 'hobo'
    end

    config.vm.provision 'ansible' do |ansible|
        ansible.inventory_path = 'ansible/inventory.ini'
        ansible.playbook = 'ansible/site.yml'
        ansible.host_key_checking = false
        ansible.extra_vars = {
            'ansible_user' => 'vagrant',
            'timezone' => 'Europe/London',
            'php' => {
                'options' => {
                    'date.timezone' => 'Europe/London',
                    'memory_limit' => '256M',
                    'upload_max_filesize' => '10M',
                    'post_max_size' => '12M',
                    'xdebug.remote_enable' => 'On',
                    'xdebug.remote_host' => '10.0.0.1',
                    'error_reporting' => 'E_ALL',
                    'display_errors' => 'On',
                    'html_errors' => 'On',
                    'ignore_repeated_errors' => 'On'
                },
                'modules' => [
                    'php5-xdebug'
                ]
            },
            'phalcon' => {
                'version' => '1.2.5'
            },
            'mysql' => {
                'bind_ip' => '0.0.0.0',
                'root_password' => 'root'
            },
            'apache' => {
                'nfs' => false,
                'log_root' => '/vagrant/logs',
                'vhosts' => false
            }
        }
    end
end
