# -*- mode: ruby -*-
# vi: set ft=ruby :

VAGRANTFILE_API_VERSION = '2'

Vagrant.require_version ">= 1.5.1"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|

    config.vm.box = "parallels/ubuntu-14.04"
    config.vm.box_check_update = false

    config.vm.provider "parallels" do |v|
        v.update_guest_tools = false
        v.optimize_power_consumption = false
        v.memory = 2048
        v.cpus = 2
    end

    config.vm.provider :vmware_fusion do |vmware_fusion, override|
        vmware_fusion.vmx['memsize'] = 2048
        vmware_fusion.vmx['numvcpus'] = 2
    end

    config.vm.provider :virtualbox do |virtualbox, override|
        virtualbox.customize [
            'modifyvm', :id,
            '--memory', 2048,
            '--cpus', 2,
            '--vram', 16
        ]
    end

    config.vm.define :hobo, primary: true do |hobo|
        hobo.vm.network :private_network, ip: '10.0.0.3'
        hobo.vm.hostname = 'hobo'
        hobo.vm.provision 'ansible' do |ansible|
            ansible.inventory_path = 'ansible/inventory/development.ini'
            ansible.playbook = 'ansible/site.yml'
            ansible.host_key_checking = false
            ansible.extra_vars = '@ansible/host_vars/hobo.yml'
        end
    end
end
