<VirtualHost *:80>
    ServerName {{ item.server_name }}
    DocumentRoot {{ item.document_root }}
    RewriteEngine On
    DirectoryIndex index.html index.php
    ErrorLog {{apache.log_root}}/{{ item.server_name }}/logs/{{ item.server_name }}-error.log
    CustomLog {{apache.log_root}}/{{ item.server_name }}/logs/{{ item.server_name }}-access.log combined
    LogLevel error rewrite:error
    <Directory {{ item.document_root }}>
        AllowOverride all
        Require all granted
    </Directory>
</VirtualHost>
