---
ansible_user: vagrant
timezone: Europe/London
php:
    options:
        date.timezone: Europe/London
        memory_limit: 256M
        upload_max_filesize: 10M
        post_max_size: 12M
        xdebug.remote_enable: On
        xdebug.remote_host: 10.0.0.1
        error_reporting: E_ALL
        display_errors: On
        html_errors: On
        ignore_repeated_errors: On
        detect_unicode: Off
    modules:
        - php5-xdebug
phalcon:
    version: 1.3.0
mysql:
    bind_ip: 0.0.0.0
    root_password: root
apache:
    nfs: false
    log_root: /vagrant/logs
    vhosts: false
