127.0.0.1	localhost

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

# apache hosts
{% for vhost in vhosts %}
    127.0.0.1 {{ vhost.server_name }}
    {% if vhost.server_aliases is defined %}127.0.0.1 {{ vhost.server_aliases|join(' ')}}{% endif %}
{% endfor %}
