location /
{
    try_files $uri $uri/ @rewrites;
}

# Pass PHP scripts to PHP-FPM
location ~ \.php(/|$)
{
    fastcgi_pass unix:/var/run/php5-fpm.sock;
    fastcgi_split_path_info ^(.+\.php)(/.*)$;
    include fastcgi_params;
    fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
    fastcgi_param  HTTPS off;
    {% include 'environment_variables.conf.j2' with context %}
}
