server {
    listen {{ item.port | default('80') }};

    server_name {{ item.server_name }};

    root {{ item.document_root }};

    index {{ item.indexes | default('app.php index.php index.html index.htm') }};

    error_log /var/log/nginx/{{ item.server_name }}.error.log;

    access_log /var/log/nginx/{{ item.server_name }}.access.log;

    # Disable access to hidden files
    location ~ /\. {
        access_log off;
        log_not_found off;
        deny all;
    }

    {% if item.symfony is defined and item.symfony == true %}
        {% include 'symfony.conf.j2' %}
    {% elif item.silex is defined and item.silex == true %}
        {% include 'silex.conf.j2' with context %}
    {% else%}
        {% include 'default.conf.j2' %}
    {% endif %}
}
